In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Less_than_high_school = np.array([69, 36, 2])
High_School = np.array([112, 98, 14])
Some_College = np.array([102, 193, 143])
College = np.array([13, 173, 245])

total_less_highschool = np.sum(Less_than_high_school)
total_High_School = np.sum(High_School)
total_Some_College = np.sum(Some_College)
total_College = np.sum(College)

total = total_less_highschool + total_High_School + total_Some_College + total_College

earns_under_20k = Less_than_high_school[0] + High_School[0] + Some_College[0] + College[0]
earns_20_30 = Less_than_high_school[1] + High_School[1] + Some_College[1] + College[1]
earns_over_30 = Less_than_high_school[2] + High_School[2] + Some_College[2] + College[2]

over_30k = [2, 14, 143, 245]
earns_2030 = [36, 98, 193, 173]
under_20 = [69,112,102, 13]


# print(total)
# print(earns_under_20k)
p_earns_under_20k = earns_under_20k/total #P(employee earns under $20,000)
print(p_earns_under_20k)

0.24666666666666667

In [14]:
P_Less_than_high_school = total_less_highschool/total #P(employee has less than a high school education)
print(P_Less_than_high_school)

0.08916666666666667

In [21]:
p_earns_over_30_less_high = 2/total #P(employee earns over $30,000 and has less than a high school education)
print(p_earns_over_30_less_high)

0.0016666666666666668

In [22]:
p_under_20_College = 13/total #d) P(employee earns under $20,000 and has a college degree)
print(p_under_20_College)

0.010833333333333334

In [26]:
p_over_30k_High_School = 14/total_High_School #P(employee earns over $30,000 | has only high school education)
print(p_over_30k_High_School)

0.0625

In [25]:
fp_earns_over_30_less_high = 2/earns_over_30 #P(employee has less than high school education | earns over $30,000)
print(fp_earns_over_30_less_high)

0.0049504950495049506

In [33]:
#2. Use the table to find each probability for a randomly chosen student.


male = np.array([40,16,35])
female = np.array([15, 24, 20])


male_total = np.sum(male)
female_total = np.sum(female)

total = np.sum(male) + np.sum(female)

P_male = male_total/total
print(P_male)

0.6066666666666667

In [34]:
#P(male or majors in Chemistry)
p_male_majors_hemistry = (male_total+20)/total
print(p_male_majors_hemistry)

0.74

In [35]:
#c) P(majors in Physics | male)
phisics_n_male = 16/male_total
print(phisics_n_male)

0.17582417582417584

In [36]:
#5, 6, 7, 8, 9, 10, 11, 12, 13, 14

array = np.array([5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
total = np.sum(array)



#P(integer) 
P_integer = total/total
print(P_integer)

1.0

In [37]:
#P(less than 10 | less than 13)
less_10_n_13 = 5/8
print(less_10_n_13)

0.625